@model IEnumerable<CoreArsaOfisi.DataLayer.Models.db.Advertiser>


{
    <table>
        <thead>
            <tr>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CompanyName</td>
                </tr>
            }

        </tbody>
    </table>
}