@using CoreArsaOfisi.DataLayer.Models.db;
@model Advertiser


{
    <table>
        <thead>
            <tr>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.OfficalName</td>
            </tr>
        </tbody>
    </table>
}